IMDB Review Data Collection

IMDB Review Data can be collected from the http://ai.stanford.edu/~amaas/data/sentiment/. After downloading and unzip the data, we need to read the data into pandas dataframe, to prepare for the later training process

In [1]:
import pandas as pd
import os

In [10]:
base_path = './data/aclImdb'
labels = {'pos': 1, 'neg': 0}  # we will assign 1 to positive reviews and 0 to negative.
df_data = pd.DataFrame()

# go through the directory and read in all reviews with corresponding label
for sample in ('train', 'test'):
    for label in ('pos', 'neg'):
        path = os.path.join(base_path, sample, label)
        for filename in os.listdir(path):
            # with will ensure the used resource got cleanned after finishing
            with open(os.path.join(path, filename), 'r', encoding='utf-8') as review_file:
                review_text = review_file.read()
            # append new review at the end of dataframe
            df_data = df_data.append([[review_text, labels[label]]], ignore_index=True)
            
df_data.columns = ['review', 'sentiment']

In [12]:
df_data.shape

(50000, 2)

In [11]:
df_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>review</th>
      <th>sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bromwell High is a cartoon comedy. It ran at t...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Homelessness (or Houselessness as George Carli...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Brilliant over-acting by Lesley Ann Warren. Be...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>This is easily the most underrated film inn th...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>This is not the typical Mel Brooks film. It wa...</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

After reading in the data, we will shuffle the records, so that we have randomly ordered reviews for learning

In [13]:
import numpy as np

In [14]:
np.random.seed(0)
df_data = df_data.reindex(np.random.permutation(df_data.index))

The learning data set is prepared. Now we will save the data into csv, for ease of access.

In [17]:
df_data.to_csv('./data/Imdb_reviews_data.csv', index=False)

In [18]:
df_imdb_reviews = pd.read_csv('./data/Imdb_reviews_data.csv')

In [20]:
df_imdb_reviews.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>review</th>
      <th>sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Often tagged as a comedy, The Man In The White...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>After Chaplin made one of his best films: Doug...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>I think the movie was one sided I watched it r...</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>I have fond memories of watching this visually...</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>This episode had potential. The basic premise ...</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>